<app-menu-title></app-menu-title>
<div class="home-articles">
    <div class="home-articles-main">
        <app-big-card 
            Id="1"
            photoCover="/assets/Fiat-Uno-Mille-1990-1994.jpeg"
            cardTitle="Fiat Uno Mille 1994"
            cardDescription="Motor 1.0 de 60cv, 
            versão mais despojada do então modelo de entrada, a versão S, com motor um pouco mais fraco e, 
            inicialmente, apenas com duas portas."
        >
        </app-big-card>
    </div>

    <div class="home-articles-others">
        <app-small-card
            Id="2"
            photCover="/assets/corsa-classic.jpg"
            cardTitle="Corsa Classic 2005 1.0 de 71cv
            "
        ></app-small-card>
        <app-small-card
            Id="3"
            photCover="/assets/corolla-2010.jpg"
            cardTitle="Corolla XEI 2010 1.6 de 150cv"
        ></app-small-card>
        <app-small-card
            Id="4"
            photCover="/assets/gla-250.jpg"
            cardTitle="GLA-250 2016 2.0 de 211cv"
        ></app-small-card>
    </div>
</div>